body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: #234050;
}
.platzi {
  display: flex;
  width: 200px;
  height: 100px;
  position: relative;
  margin: 40px auto;
  /* background: red; */
  transform: rotate(-45deg);
  position: relative;
  top: 1px;
}
.platzi-left {
  width: 40%;
  height: 100%;
  border-radius: 25px 20px 20px 25px;
  border: 20px solid rgb(210, 135, 0);
  border-right: none;
  box-sizing: border-box;
}
.platzi-right {
  width: 25%;
  height: 100%;
  border-radius: 20px 0px 20px 20px;
  border: 20px solid rgb(210, 135, 0);
  border-left: none;
  border-bottom: none;
  box-sizing: border-box;
}
.platzi-sapo {
  width: 15%;
  height: 100%;
  border-radius: 0px 20px 20px 20px;
  border: 20px solid rgb(210, 135, 0);
  border-left: none;
  border-bottom: none;
  border-right: none;
  box-sizing: border-box;
}
